.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

input {
    display: flex;
    margin: 10px 0;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
}
